<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true" debug="false">

    <!-- 日志保存路径全局变量 -->
    <property name="LOG_HOME" value="./log"></property>

    <!-- 上下文 -->
    <property name="CONTEXT" value="bss"></property>

    <!-- 控制台输出配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 格式化输出 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出配置 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志分割策略:按天分割 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${CONTEXT}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>45</maxHistory>
        </rollingPolicy>
        <!-- 格式化输出 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 日志级别 -->
    <root level="INFO">
        <appender-ref ref="FILE"></appender-ref>
        <appender-ref ref="CONSOLE"></appender-ref>
    </root>

    <!-- Hibernate查询展示参数 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
</configuration>